<a href="/bike/list">所有車体の追加</a>
<div class="mx-auto my-5 px-3" style="max-width: 700px">
  <% haveBikeList.forEach((data)=> { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          <%= data.company %>
            <%= data.name %>
        </h5>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>オイル交換時</b> <%= data.oil_change %>L</li>
          <li class="list-group-item"><b>フィルタ交換時</b> <%= data.oil_filter %>L</li>
          <li class="list-group-item"><b>モデル</b> <%= data.model %>
          </li>
          <li class="list-group-item"><b>排気量</b> <%= data.cc %>cc</li>
          <li class="list-group-item"><b>納車日</b> <%= new Date(data.purchase_date).getFullYear() + "年" + (new Date(data.purchase_date).getMonth() + 1) + "月" + new Date(data.purchase_date).getDate() + "日"  %></li>
          <li class="list-group-item"><a href='<%= data.body_link %>' target="_blank" rel="noopener noreferrer">車体公式サイト</a></li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="/bike/have/delete/<%= data.id %>" class="btn btn-danger">所有している車体の削除</a>
      </div>
    </div>
  <% }) %>
</div>

<script>
  // XXXX年XX月XX日の形式に変換する
  function changeDateFormat(date) {
    return date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日";
  }
</script>