<div class="mx-auto my-5 px-3" style="max-width: 700px;">
  <% dataList.forEach((data) => { %>
    <div class="card border-primary mb-3">
      <div class="row g-0">
        <div class="card-header">
          <%= data.bike_name %> <%= data.title %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">
              <%= data.description %>
            </p>
            <p class="card-text">走行距離 <%= data.odo %></p>
            <p class="card-text">金額 <%= data.price %></p>
            <p class="card-text"><small class="text-body-secondary"><%= data.date %></small></p>
          </div>

        </div>
        <div class="card-footer text-body-secondary">
          <a href="/history/update/<%= data.id %>" class="btn btn-primary">編集</a>
          <a href="/history/delete/<%= data.id %>" class="btn btn-danger">削除</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>